@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraft';
    src: url('/font/Philosopher-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'Minecraft', sans-serif;
     }  