---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/Billeder/rackarackalogo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rackarack</title>
  </head>

  <body 
  style="background-color: #272425;"
  class="min-h-screen flex flex-col">
    <!-- Header øverst -->
    <div
      class="relative flex flex-col items-center bg-black p-5 rounded-xl z-20 mx-3 mt-5"
    >
      <!-- Tekst øverst -->
      <img
        src="/Billeder/rackarackatekst.svg"
        alt="Rackaracka tekst"
        class="absolute left-1/2 transform -translate-x-1/2 h-26 object-contain scale-x-350"
      />

      <!-- Logo under teksten -->
      <img
        src="/Billeder/rackarackalogo.svg"
        alt="Logo1"
        class="w-28 mt-23 object-contain"
      />
    </div>

	<div class="bg-[#6F6E70] mt-5 min-h-[300vh] justify-center">
    <!-- tekst fra venstre -->
    <div class="w-full pt-8 p-4">
      <nav class="bg-[#272425] text-white flex justify-center gap-10 py-5 rounded-xl shadow-lg uppercase tracking-widest font-semibold">
  <a href="/" class="hover:text-red-500 transition">Frontpage</a>
  <a href="/merch" class="hover:text-yellow-500 transition">Merch</a>
  <a href="/events" class="hover:text-red-500 transition">Events</a>
  <a href="/contact" class="hover:text-yellow-500 transition">Contact</a>
  <a href="/about" class="hover:text-red-500 transition">About us</a>
</nav>

    <!-- Resten af siden -->
    <main 
	class="flex-grow mt-5">
      <slot />
    </main>
  </body>
</html>
