---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/Billeder/rackarackalogo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rackarack</title>
  </head>

  <body 
  style="background-color: #272425;"
  class="min-h-screen flex flex-col">
    <!-- Header øverst -->
    <div
      class="relative flex flex-col items-center bg-black p-5 rounded-xl z-20 mx-3 mt-3"
    >
      <!-- Tekst øverst -->
      <img
        src="/Billeder/rackarackatekst.svg"
        alt="Rackaracka tekst"
        class="absolute left-1/2 transform -translate-x-1/2 h-26 object-contain scale-x-350""
      />

      <!-- Logo under teksten -->
      <img
        src="/Billeder/rackarackalogo.svg"
        alt="Logo1"
        class="w-28 mt-23 object-contain"
      />
    </div>

    <!-- Resten af siden -->
    <main 
	class="flex-grow mt-5">
      <slot />
    </main>
  </body>
</html>
